form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin: 12px; }
  form.searchbar .searchbar-container {
    border-radius: 5px;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px; }
    form.searchbar .searchbar-container input[type=text] {
      color: #e5e5e5;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 4px;
      font-size: 1.2rem;
      background-color: #2b2b2b;
      width: 100%;
      height: 32px;
      border: none; }
      form.searchbar .searchbar-container::before {
        content: '';
        flex-shrink: 0;
        z-index: 7;
        position: relative;
        background-size: 24px 24px;
        width: 32px;
        height: 32px;
        opacity: 0.5;
        background-image: url('../images/search-solid.svg');
        background-repeat: no-repeat;
        background-position: center; }
        @media (max-width: 400px) {
          form.searchbar .searchbar-container::before {
            display: none;   }
}
  form select {
    border-radius: 4px;
    border-color: rgba(160, 160, 160, 0.2);
    border-width: 1px;
    background-color: #2b2b2b;
    width: 100%;
    height: 36px; }
    form textarea {
      border-radius: 4px;
      border-color: rgba(160, 160, 160, 0.2);
      border-width: 1px;
      background-color: #2b2b2b;
      max-width: 100%;
      min-width: 100%;
      max-height: 288px;
      min-height: 96px;
      font-family: 'Roboto', sans-serif;
      font-size: 0.9rem; }
      form label {
        font-weight: bold;
        margin-bottom: 8px;
        line-height: 2.5rem;
        font-size: 1.2rem; }
        form input[type=email] {
          border-radius: 4px;
          border-color: rgba(160, 160, 160, 0.2);
          border-width: 1px;
          background-color: #2b2b2b;
          width: 100%;
          height: 32px; }
          form input[type=password] {
            border-radius: 4px;
            border-color: rgba(160, 160, 160, 0.2);
            border-width: 1px;
            background-color: #2b2b2b;
            width: 100%;
            height: 32px; }
            form input[type=tel] {
              border-radius: 4px;
              border-color: rgba(160, 160, 160, 0.2);
              border-width: 1px;
              background-color: #2b2b2b;
              width: 100%;
              height: 32px; }
              form input[type=checkbox] {
                width: 24px;
                height: 24px; }
                form input[type=time] {
                  border-radius: 4px;
                  border-color: rgba(160, 160, 160, 0.2);
                  border-width: 1px;
                  background-color: #2b2b2b;
                  font-size: 1rem;
                  width: 96px;
                  height: 40px; }
                  form input[type=date] {
                    border-radius: 4px;
                    border-color: rgba(160, 160, 160, 0.2);
                    border-width: 1px;
                    background-color: #2b2b2b;
                    font-size: 1rem;
                    width: 144px;
                    height: 36px; }
                    form input[type=file] {
                      width: 0px;
                      height: 0px;
                      overflow: hidden; }
                      form #upload-file-button {
                        width: 192px;
                        height: 40px;
                        color: #000000;
                        background-color: #2b2b2b;
                        border-radius: 5px;
                        border: 1px solid #a0a0a0;
                        font-size: 1.2rem;
                        line-height: 2.5rem;
                        text-align: center;
                        cursor: pointer; }
                        form #upload-file-button:hover {
                          background-color: #121212; }
  form .form-check-label {
    padding-left: 8px;
    line-height: 2rem; }
    form .form-control {
      display: flex;
      flex-direction: row; }
      form .form-control a {
        line-height: 2.5rem;
        margin-left: auto; }
        form .form-control span {
          line-height: 2.5rem;
          margin-left: auto; }
          @media (max-width: 400px) {
            form .form-control a {
              margin-left: 0;
              margin-top: 8px;   }
              form .form-control .required-fields {
                margin-left: 0;
                margin-top: 8px;   }
}
  form .form-single-checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    form .form-single-checkbox .checkbox-label {
      line-height: 2rem;
      padding-left: 8px; }
  form .required-fields {
    color: #ff0f0f; }
    form.placament-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 16px; }
      form.placament-form h3 {
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 16px; }
        form.placament-form .store-interactions-div {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0;
          font-weight: bold;
          margin-bottom: 8px;
          line-height: 2.5rem;
          font-size: 1.2rem; }
          form.placament-form .store-interactions-div span {
            font-weight: normal; }
            form.placament-form .store-interactions-div > input {
              margin-right: 16px; }
              form.placament-form .store-interactions-div > label {
                margin-right: 16px; }
                form.placament-form .store-interactions-div .label-divider {
                  display: flex;
                  flex-direction: row; }
                  form.placament-form .store-interactions-div .label-divider > input {
                    margin-right: 16px; }
          @media (max-width: 980px) {
            form.placament-form .store-interactions-div {
              flex-direction: column;
              align-items: none;   }
}
      @media (max-width: 980px) {
        form.placament-form {
          flex-direction: column;   }
          form.placament-form button {
            margin-top: 16px;   }
}

header {
  background: #1f1f1f;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px -2px 1px rgba(3, 104, 255, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  z-index: 9; }
  header #toggle-nav {
    position: absolute;
    display: none;
    pointer-events: none;
    border-radius: 4px;
    height: 48px;
    width: 48px;
    overflow: hidden;
    border: 0;
    opacity: 0;
    margin-bottom: 8px;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
    background-color: #1f1f1f;
    background-image: url('../images/bars-solid.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center; }
    header #toggle-nav:hover {
      background-color: rgba(3, 104, 255, 0.35); }
  header .user-info {
    display: flex;
    flex-direction: row;
    height: 64px;
    min-width: 64px;
    max-width: 320px;
    background-color: #2b2b2b;
    margin-left: auto;
    margin-right: 16px;
    border-radius: 8px;
    color: #e5e5e5; }
    header .user-info .user-image {
      flex-shrink: 0;
      position: relative;
      margin-top: 8px;
      margin-left: 8px;
      height: 48px;
      width: 48px;
      display: inline-block;
      border-radius: 100%;
      background-color: #e5e5e5;
      overflow: hidden;
      background-image: url('../images/user-solid.svg');
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center; }
      header .user-info .user-name {
        display: block;
        margin-left: 16px;
        margin-right: 16px;
        overflow: hidden; }
  header .logo {
    background-color: #1f1f1f;
    overflow: hidden;
    align-self: flex-start;
    margin-top: 8px;
    max-height: 64px; }
    header .logo img {
      max-height: 64px; }
  @media (max-width: 1040px) {
    header .logo {
      padding-left: 64px;   }
      header #toggle-nav {
        display: block;
        pointer-events: all;
        opacity: 1;
        transition: opacity 0.25s ease-in-out;
        margin-top: 8px;   }
        header .user-info .user-name {
          display: none;   }
    header .header-divider {
      height: 48px;
      width: 16px;   }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  flex-wrap: wrap;
  background-color: #2b2b2b;
  margin: 0 !important; }
  body a {
    color: #0ca7ff;
    text-decoration: none; }
    body ul {
      list-style-type: none; }

main {
  width: calc(100% - 280px);
  margin-left: 280px;
  padding: 32px 32px 32px 32px;
  position: relative;
  display: flex;
  flex-direction: column; }
  main.no-nav {
    width: 100%;
    margin-left: 0; }
    main > * {
      margin-left: auto;
      margin-right: auto; }
      main > .widget-medium {
        align-self: center; }
        main.active-nav {
          width: calc(100% - 280px);
          margin-left: 280px; }
          main .movie-display {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 16px;
            max-width: 100%; }
            main .movie-display .movie-display-title {
              display: flex;
              flex-direction: row;
              justify-content: center;
              border-bottom: 1px solid rgba(3, 104, 255, 0.6);
              width: 100%; }
              main .movie-display .movie-display-title h1 {
                color: #e5e5e5;
                text-justify: center;
                word-wrap: break-word; }
            main .movie-display .movie-display-grid {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-wrap: wrap;
              margin-top: 16px;
              margin-right: -16px; }
              @media (max-width: 560px) {
                main .movie-display .movie-display-grid {
                  justify-content: center;   }
}
                main .movie-display .movie-display-grid .movie-card {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  width: 240px;
                  height: 416px;
                  margin-right: 28px; }
                  main .movie-display .movie-display-grid .movie-card:last-of-type {
                    margin-right: auto; }
                    main .movie-display .movie-display-grid .movie-card:hover .movie-poster {
                      box-shadow: 0px 0px 4px 5px rgba(3, 104, 255, 0.9); }
                      main .movie-display .movie-display-grid .movie-card:hover .movie-title h3 {
                        text-shadow: 2px 2px 2px rgba(3, 104, 255, 0.9), -2px -2px 2px rgba(12, 167, 255, 0.9),
                                                -2px 2px 2px rgba(3, 104, 255, 0.9), 2px -2px 2px rgba(3, 104, 255, 0.9); }
                  main .movie-display .movie-display-grid .movie-card .movie-poster {
                    width: 240px;
                    height: 360px;
                    border-radius: 6px;
                    box-shadow: 3px 4px 4px rgba(3, 104, 255, 0.9); }
                    main .movie-display .movie-display-grid .movie-card .movie-poster img {
                      width: 240px;
                      height: 360px;
                      border-radius: 6px; }
                  main .movie-display .movie-display-grid .movie-card .movie-title {
                    height: 56px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center; }
                    main .movie-display .movie-display-grid .movie-card .movie-title h3 {
                      color: #e5e5e5;
                      text-justify: center;
                      text-shadow: 2px 2px 2px rgba(3, 104, 255, 0.9); }
  main .information-widget .success-title {
    color: #20f000;
    font-size: 1.5rem; }
    main .information-widget .warning-title {
      color: #ffd505;
      font-size: 1.5rem; }
      main .information-widget .error-title {
        color: #ff0f0f;
        font-size: 1.5rem; }
        main .information-widget .widget-content .information-img {
          padding: 48px 80px; }
          main .information-widget .widget-content .information-msg {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: bold;
            padding-bottom: 24px; }
  main .placement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    main .placement-container .divider {
      width: 100%;
      border-bottom: 1px solid #a0a0a0; }
      main .placement-container .divider:last-of-type {
        opacity: 0; }
    main .placement-container .placement {
      display: flex;
      border-radius: 8px;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px 0;
      flex-wrap: wrap;
      margin: 8px; }
      main .placement-container .placement.new-placament {
        animation: blinker 1s linear infinite;
        animation-iteration-count: 5; }
        main .placement-container .placement {
          @keyframes blinker {
            50% {
              background-color: rgba(18, 212, 255, 0.7);     }
  }
}
      main .placement-container .placement .placement-details {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 1.2rem;
        line-height: 3.4rem;
        font-weight: bold;
        flex-wrap: wrap; }
        main .placement-container .placement .placement-details section {
          display: flex;
          flex-direction: row; }
          main .placement-container .placement .placement-details section span {
            font-weight: normal; }
        main .placement-container .placement .placement-details > * {
          margin: 0 8px; }
      main .placement-container .placement .placement-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 8px; }
        main .placement-container .placement .placement-actions form {
          flex-direction: row;
          align-items: flex-start;
          width: 112px; }
          main .placement-container .placement .placement-actions > * {
            margin: 0 8px; }
  main .ticket-widget {
    display: flex;
    flex-direction: column;
    width: 100%; }
    main .ticket-widget .ticket-information {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid #a0a0a0; }
      main .ticket-widget .ticket-information .qr-code-container {
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 9px; }
        main .ticket-widget .ticket-information .qr-code-container .qr-code {
          max-width: 320px;
          max-height: 320px; }
      main .ticket-widget .ticket-information .eta {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 32px; }
    main .ticket-widget .store-home {
      display: flex;
      flex-direction: row;
      margin: 16px;
      justify-content: flex-start;
      width: 96%; }
      main .ticket-widget .store-home .store-details-text-area {
        margin: 16px;
        flex-grow: 10; }
        main .ticket-widget .store-home .store-details-text-area ul {
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 0; }
          main .ticket-widget .store-home .store-details-text-area ul li {
            display: flex;
            flex-direction: row;
            flex-flow: row wrap;
            font-size: 1.4rem;
            line-height: 2.8rem;
            font-weight: bold;
            overflow-wrap: wrap;
            word-wrap: break-word; }
            main .ticket-widget .store-home .store-details-text-area ul li section {
              font-weight: normal;
              overflow-wrap: break-word;
              word-wrap: break-word;
              word-break: break-all;
              word-break: break-word;
              hyphens: auto; }
      main .ticket-widget .store-home .store-image-area {
        display: flex;
        flex-direction: row; }
        main .ticket-widget .store-home .store-image-area .store-image-container {
          width: 256px;
          overflow: hidden;
          height: 256px;
          border-radius: 8px;
          background-color: #a0a0a0;
          background-image: url('/images/shopping-basket-solid.svg');
          background-repeat: no-repeat;
          background-size: 288px;
          background-position: center;
          border: 1px solid #a0a0a0;
          flex-shrink: 0; }
          main .ticket-widget .store-home .store-image-area .store-image-container .store-image {
            margin-top: -1%;
            margin-left: -1%;
            width: 102%;
            height: 102%; }
  main .store-details-widget {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .store-details-widget > div {
      border-bottom: 1px solid #a0a0a0; }
      main .store-details-widget > div:last-of-type {
        border-bottom: none; }
    main .store-details-widget .store-home {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 16px; }
      main .store-details-widget .store-home .store-image-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 1; }
        main .store-details-widget .store-home .store-image-area .store-image-container {
          width: 336px;
          overflow: hidden;
          height: 336px;
          border-radius: 8px;
          background-color: #a0a0a0;
          background-image: url('/images/shopping-basket-solid.svg');
          background-repeat: no-repeat;
          background-size: 288px;
          background-position: center;
          border: 1px solid #a0a0a0;
          flex-shrink: 0; }
          main .store-details-widget .store-home .store-image-area .store-image-container .store-image {
            margin-top: -1%;
            margin-left: -1%;
            width: 102%;
            height: 102%; }
      main .store-details-widget .store-home .store-details-text-area {
        margin: 16px;
        flex-grow: 10; }
        main .store-details-widget .store-home .store-details-text-area ul {
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 0; }
          main .store-details-widget .store-home .store-details-text-area ul li {
            display: flex;
            flex-direction: row;
            flex-flow: row wrap;
            font-size: 1.4rem;
            line-height: 2.8rem;
            font-weight: bold;
            overflow-wrap: wrap;
            word-wrap: break-word; }
            main .store-details-widget .store-home .store-details-text-area ul li section {
              font-weight: normal;
              overflow-wrap: break-word;
              word-wrap: break-word;
              word-break: break-all;
              word-break: break-word;
              hyphens: auto; }
    main .store-details-widget .store-interactions {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      flex-direction: column; }
      main .store-details-widget .store-interactions .reservation-display {
        margin: 16px; }
        main .store-details-widget .store-interactions .reservation-display #timeline-embed {
          width: 100%;
          height: 48px; }
  main .store-card-area {
    min-width: 90%;
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: 16px;
    margin-left: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    main .store-card-area .store-card {
      background-color: #fafafa;
      border-radius: 6px;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.22);
      display: flex;
      flex-direction: column;
      width: 336px;
      padding: 16px;
      margin-bottom: 32px;
      margin-right: 16px; }
      main .store-card-area .store-card .store-image-container {
        width: 100%;
        overflow: hidden;
        height: 336px;
        border-radius: 8px;
        background-color: #a0a0a0;
        background-image: url('/images/shopping-basket-solid.svg');
        background-repeat: no-repeat;
        background-size: 288px;
        background-position: center;
        border: 1px solid #a0a0a0; }
        main .store-card-area .store-card .store-image-container .store-image {
          margin-top: -1%;
          margin-left: -1%;
          width: 102%;
          height: 102%; }
      main .store-card-area .store-card ul {
        padding-left: 0; }
        main .store-card-area .store-card ul li {
          font-size: 1.1rem;
          line-height: 1.6rem;
          font-weight: bold;
          overflow-wrap: wrap; }
          main .store-card-area .store-card ul li span {
            font-weight: normal; }
      main .store-card-area .store-card .store-card-actions {
        width: 100%; }
  main span.invalid-feedback {
    color: #ff0f0f;
    margin-top: 16px;
    display: block; }
  main div.form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 1040px) {
      main {
        width: 100%;
        margin-left: 0;   }
        .nav-active main {
          pointer-events: none;   }
          .nav-active main:after {
            content: '';
            display: block;
            position: absolute;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.35);
            opacity: 1;
            transform: translateX(0);   }
}
  @media (max-width: 560px) {
    main {
      margin: 4px;
      padding: 0;   }
}

#nav {
  background: #1f1f1f;
  width: 280px;
  height: 100%;
  position: fixed;
  overflow: visible; }
  #nav ul {
    list-style-type: none;
    padding: 16px;
    margin: 0; }
    #nav ul li {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #0368ff; }
      #nav ul li:last-of-type {
        border-bottom: none; }
        #nav ul li a {
          font-size: 1.6rem;
          font-weight: bold;
          z-index: 10;
          width: 100%;
          border-radius: 5px;
          color: #e5e5e5;
          padding-left: 48px;
          margin-bottom: 8px;
          margin-top: 8px;
          cursor: pointer; }
          #nav ul li a:hover {
            cursor: pointer;
            background-color: rgba(3, 104, 255, 0.35);
            color: #0ca7ff; }
            #nav ul li a::before {
              content: '';
              width: 40px;
              height: 40px;
              position: absolute;
              display: block;
              background-size: 32px 32px;
              background-repeat: no-repeat;
              background-position: center;
              transform: translate(-48px, -3px);
              opacity: 0.5; }
              #nav ul li a#discover-movies::before {
                background-image: url('../images/film-solid.svg'); }
          #nav ul li a#find-movies::before {
            background-image: url('../images/search-solid.svg'); }
          #nav ul li a#user-profile::before {
            background-image: url('../images/user-circle-solid.svg'); }
          #nav ul li a#log-out::before {
            background-image: url('../images/power-off-solid.svg'); }
  #nav #toggle-nav {
    position: absolute;
    display: block;
    cursor: pointer;
    background: #fafafa;
    height: 32px;
    width: 32px;
    border: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0.75;
    outline: none; }
    @media (max-width: 1040px) {
      #nav {
        position: fixed;
        box-shadow: 0 2px 4px 0 rgba(11, 48, 59, 0.12);
        top: 80px;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 8;   }
        #nav #toggle-nav {
          display: block;
          z-index: 10;   }
          #nav *:not(#toggle-nav) {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease-in-out;   }
            #nav.active {
              transform: translateX(0);   }
              #nav.active *:not(#toggle-nav) {
                opacity: 1;
                pointer-events: all;   }
}

.btn {
  width: 100%;
  background-color: #0368ff;
  border-radius: 4px;
  color: #fafafa;
  border: none;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  align-content: center;
  text-align: center;
  cursor: pointer; }
  .btn > span {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .btn:hover {
      background-color: #0ca7ff; }
      .btn.small {
        width: 112px;
        height: 32px;
        padding: 8px;
        line-height: 1.5rem;
        font-size: 1.1rem; }
        .btn.medium {
          width: 112px;
          height: 40px;
          padding: 8px;
          line-height: 1.6rem;
          font-size: 1.2rem; }
          .btn.large {
            width: 160px;
            height: 40px;
            padding: 8px;
            line-height: 1.6rem;
            font-size: 1.2rem; }
            .btn.long {
              width: 95%;
              height: 24px;
              padding: 8px;
              line-height: 1.6rem;
              font-size: 1.2rem; }

.widget {
  background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  margin-bottom: 16px;
  min-width: 160px; }
  .widget .widget-header {
    border-bottom: 1px solid #0368ff;
    width: 100%;
    min-height: 64px;
    display: flex; }
    .widget .widget-header h2 {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .widget .widget-header .title-only {
        align-content: center;
        align-items: center;
        text-align: center; }
  .widget.widget-small {
    width: 30%;
    min-height: 320px; }
    .widget.widget-medium {
      width: 480px; }
      @media (max-width: 560px) {
        .widget.widget-medium {
          max-width: 352px;
          min-width: 176px;   }
}
  .widget.widget-large {
    width: 70%; }
    @media (max-width: 560px) {
      .widget.widget-large {
        width: 90%;   }
}
  .widget.widget-extra-large {
    width: 95%; }
    .widget.form {
      flex-direction: column; }
