
// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

//CLUP Variables
$base-spacing: 16px;
$header-height: 80px;
$nav-width: 280px;
$wide-desktop-width: 1620px;
$desktop-width: 1040px;
$tablet-width: 980px;
$phablet-width: 680px;
$phone-width: 400px;
$font-family: 'Roboto', sans-serif;

// CLUP Colors
$background-grey: #2b2b2b;
$main-black: #1f1f1f;
$highlight-blue: #0368ff;
$text-white: #e5e5e5;
$text-grey: #7d7d7d;
$dislike-red: #c91818;
$like-green: #18c939;

$alert-red: #c91818;
$success-green: #18c939;

$grey: #a0a0a0;
$white: #fafafa;
$blue: #0ca7ff;
$text-color: #000000;
$warning-yellow: #ffd505;
$highlight-cerulean: #12d4ff;