{% extends "base.html" %}
{% block title %}Find Movies{% endblock %}

{% block maincontent %}
    <div class="widget widget-extra-large">
        <div class="widget-header">
            <form method="get" action="" class="searchbar">
                <div class="searchbar-container">
                    <input id="srch-text-area" class="search-input" type="text" placeholder="Search Movies">
                    <div class="search-actions">
                        <div class="btn small" id="srch-btn"><span>Search</span></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="movie-display">
            <div class="movie-display-title">
                <h1>{{ list_title }}</h1>
            </div>
            <div class="movie-display-grid">
                {% for movie in list %}
                    <a class="movie-card" href="{{ '/movie/' + movie.id }}">
                        <div class="movie-poster">
                            {% if  movie.posterPath %}
                                <img src="{{ movie.posterPath }}"></img>
                            {% endif %}
                            <div class="movie-short-info">
                                <div class="movie-detail-container">
                                    <section class="detail-name">Genres:</section>
                                    <section class="detail-content">
                                        {% for genre in movie.genres %}
                                            {{ genre }}
                                        {% endfor %}
                                    </section>
                                    <section class="detail-name">Release date:</section>
                                    <section class="detail-content">
                                        {{ movie.releaseDate }}
                                    </section>
                                    <section class="detail-name">Director:</section>
                                    <section class="detail-content">
                                        {{ movie.directorName }}
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="movie-title">
                            <h3>{{ movie.name }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="background"></div>
    <form class="hidden">
        
    </form>
{% endblock %}