{% extends "base.html" %}
{% block title %}Liked Movies{% endblock %}

{% block maincontent %}
    <div class="widget widget-extra-large">
        <div class="movie-display">
            <div class="movie-display-title">
                <div class="title-icon" id="movie-like"></div>
                <h1>Liked Movies:</h1>
            </div>
            <div class="movie-display-grid">
                <a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a>

                <a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a><a class="movie-card" href="https://www.imdb.com/title/tt1856101/">
                    <div class="movie-poster">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"></img>
                    </div>
                    <div class="movie-title">
                        <h3>Blade Runner 2049</h3>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div id="background"></div>
    <form class="hidden">
        
    </form>
{% endblock %}