{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block maincontent %}
    <div class="widget widget-medium" id="login-page">
        <div class="login-title">
            <h1>Login With:</h1>
        </div>
        <div class="login-options">
            <a href="/fb_login" class="login-button">
                <div class="icon-container">
                    <img src="../static/images/facebook-square-brands.svg" id="facebook-icon"/>
                </div>
                <h2>Facebook</h2>
            </a>
            <a href="/twitter" class="login-button">
                <div class="icon-container">
                    <img src="../static/images/twitter-square-brands.svg" id="twitter-icon"/>
                </div>
                <h2>Twitter</h2>
            </a>
            <a href="/" class="login-button">
                <div class="icon-container">
                    <img src="../static/images/github-square-brands.svg" id="github-icon"/>
                </div>
                <h2>GitHub</h2>
            </a>
        </div>
    </div>
    <div id="background"></div>
    <form class="hidden">
        
    </form>
{% endblock %}