{% extends "base.html" %}
{% block title%}Music{% endblock %}

{% block style %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
{% endblock %}

{% block content %}
	<form action="", method="post">
		<h3>Filters:</h3>
			{% for fi in filter %}
		 		<input type="radio" id=fi.name name="artist" value="{{fi.id}}">
	  			<label for="{{fi.name}}">{{fi.name}}</label>
			{% endfor %}
		<br>
		<input type="submit" value="Search">
	</form>
	No song here? Search over <a href="/music/online-search/">Spotify</a>
	<h1>Song list:</h1>
	<table>
		<tr>
			<th>Track name</th>
			<th>Album name</th>
			<th>Artists</th>
			<th>Release date</th>
		</tr>
		{% for x in list %}
			<tr>
				<td>{{x.name}}</td>
				<td>{{x.album.name}}</td>
				<td>{% for y in x.artists %}
					<ul>
						<li>{{y.name}}</li>
		  			</ul>
				{% endfor %}</td>
				<td>{{x.album.releaseDate}}</td>
			</tr>
		{% endfor %}
	</table>	
{% endblock %}